<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <application android:label="phx Shizuku Dominator">
        <provider
            android:name="dev.rikka.shizuku.ShizukuProvider"
            android:authorities="com.phx.shizuku.dominator.shizuku"
            android:exported="true" />
        <service 
            android:name=".SovereignService" 
            android:exported="true" 
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    </application>
</manifest>
